<h1>Wing Order Form</h1>


<%= form_for :new_wing_order do |f| %>

  <%=f.label :full_name %>
  <%=f.text_field :customer_name%>
  <br/>
  <%=f.label :city %>
  <%=f.text_field :city%>
  <br/>
  <%= f.label :State%>
  <%= f.collection_select :state,@state_collection, "first", "first"  %>
  <br/>
  <%= f.label :extra_flavors?%>
  <%= f.collection_radio_buttons :flavor,@flavor_collection, "id", "name"  %>
  <br/>
  <%= f.label :ranch_dressing?%>
  <%= f.check_box :ranch_dressing%>
  <br/>
  <br/>

  <%= f.submit%>

  <%end%>
